@import "light.css";

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.loading {
  background: transparent url(/images/spinner.gif) no-repeat scroll center center;
}

body {
  padding-left: 2%;
  padding-right: 2%;
  max-width: 1000px;
  background-image: linear-gradient(to right, rgb(22, 132, 184), rgb(52, 177, 235), rgb(88, 136, 158));
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

input {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

select {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

textarea {
  height: 125px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  border-radius: none;
  margin-top: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.box {
  margin-bottom: 5px;
  padding: 1%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
